<h1>Nouvel utilisateur</h1>

<h2> CA GITE BRANCH UN MAX <h2>

<style type="text/css">
body{background-color: #38ada9 ;}
</style>
}
<%= render 'form', user: @user %>

<%= link_to 'Retour', users_path %>
