// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url("boostrap.min.css");
@import url("boostrap-theme.css");



body {

	background-image: image-url('fond.png');
	background-repeat: no-repeat;
	background-size: 100%;
}

#mc_embed_signup {
    width: 100%;
    padding-top: 400px;
    
}

#mc_embed_signup_scroll {
		width: 900px;

}

.video-container{
		
            position: absolute;
            width: 100%;
            height: 100%;
            
            }
